video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 14%;
  /* min-width: 100%;
  min-height: 100%; */
  z-index: -1;
  object-position: center;
  object-fit: cover;
}


/* Class Selectors */

.card-img-top {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}

.card-body{

  width: 100%;
  height: 20vw;
  object-fit: cover;

}




/* ID selectors */

#top-Section{


  margin-left: 190px;
  font-family: 'Hind', sans-serif;

}

#page-Title{


  color: yellow;

}

#main-Section{

  font-family: 'Monda', sans-serif;

}

#work-Title{

  
  margin-left: auto;
  margin-right: auto 

}

#code-Card{


  margin-left: auto;
  margin-right: auto;

}


#code-Refractor-Photo{

  width: 100%;
  height: 20vw;
  object-fit: contain;

}

 #meta-Cube-Photo{

  width: 100%;
  height: 20vw;
  object-fit: contain;

} 



/* @media only screen and (min-width: 600px) {} */