
body {
  overflow-x: hidden !important;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 85%;
  min-width: 101%;
  min-height: 85%; 
  /* z-index: -1; */
  object-position: center;
  object-fit: cover;
}

/* Class Selectors */

.card-img-top {
  min-width: 100%;
  height: 25vw;
  object-fit: cover;
}

.card-body{

  width: 100%;
  height: 20vw;
  object-fit: cover;

}


.linear-wipe {
  
  
  background-image: linear-gradient(to right, #00F260, #f79d00, #e2e605, #64f38c);
  -webkit-background-clip: text; 
  background-clip: text; 
  color: transparent;
  
  background-size: 300%;
  background-position: -100%;  
  
  animation: animatedText 5s infinite alternate-reverse;
}

@keyframes animatedText{
  to{
    background-position: 100%; 
  }
}



/* ID selectors */

#top-Section{

  font-family: 'Hind', sans-serif;
  margin-top: 250px;
  margin-left: 10px;

}


#main-Section{

  font-family: 'Monda', sans-serif;
  margin-top: 400px;

}

#work-Title,
#code-Card,
#weather-Card{


  margin-left: auto;
  margin-right: auto;

}

#stock-Scanner-Photo,
#code-Refractor-Photo{

  width: 100%;
  height: 25vw;
  object-fit: contain;

}

 /* #meta-Cube-Photo{

  width: 100%;
  height: 20vw;
  object-fit: contain;

}  */



@media screen and (max-width: 768px) {
  header, main {
    flex-direction: column;
  }

  section {
    padding-right: 0;
  }

  aside {
    width: 100%;
    text-align: center;
  }
}